<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        const item = [];
        $(document).ready(function () {

            $(".addItem").click(function () {
                item.push({ itemName: $("#itemName").val(), itemExpiryDate: $("#itemExpiryDate").val() })
                refreshDiv();
            });

            $("#submitButton").click(function () {
                data = {
                    donationDate: $("#donationDate").val(),
                    amountAvailable: $("#donationQuantity").val(),
                    item: item
                }
                console.log(data)
                $.ajax({
                    type: "POST",
                    data: data,
                    url: "/donor/donation/add",
                    success: function (msg) {
                        $('.answer').html(msg);
                    }
                });
                // $.post("/donor/donation/add",
                //     data,
                //     function (result) {
                //         $("span").html(result);
                //     });
            });

        });

        function removeItem(i) {
            if (i > -1) {
                item.splice(i, 1);
            }
            refreshDiv();
        }

        function refreshDiv() {
            $("#result").empty();
            $.each(item, function (index, value) {
                $("#result").append(index + ": " + item[index].itemName + '<button onclick="removeItem(' + index + ')">Remove this item</button>[' + index + ']<br>');
            });
        }


    </script>
</head>

<body>
    <h1>Donation Details</h1>
    <form action="/donor/donation/addItemUpdate/<%=donation._id%>" enctype="multipart/form-data" method="post">
        <input type="file" name="photo" id="photo">
        <input type="submit" value="Upload"><br>
        <input type="text" name="itemName" id="itemName" placeholder="Item Name"><br>
        <input type="date" name="itemExpiryDate" id="itemExpiryDate" placeholder="Item Expiry Date">
        <button class="addItem">Add Item</button>
    </form>
    <form action="/donor/donation/updateDonation/<%=donation._id%>" method="post">
        <label for="donationDate">Donation Date: </label>
        <input type="date" name="donationDate" id="donationDate"
            value="<%=donation.donationDate.toISOString().substr(0, 10)%>">
        <br>
        <label for="donationQuantity">Donation Quantity: </label>
        <input type="text" name="donationQuantity" id="donationQuantity" value="<%=donation.amountAvailable%>">
        <br>
        <div id="result"></div>
        <input type="submit" value="Update">
        <a href="/">Cancel</a>
    </form>
    <% donation.items.forEach((item, index)=> { %>

        <img src="<%=item.itemUri%>" style="width: 50px; height: 50px;" />
        <form action="/donor/donation/editItemUpdate/<%=index%>/<%=donation._id%>" method="post">
            <input type="text" name="itemNameEdit" id="itemNameEdit" value="<%=item.itemName%>"
                placeholder="Item Name"><br>
            <input type="date" name="itemExpiryDateEdit" id="itemExpiryDateEdit"
                value="<%=item.itemExpiryDate%>" placeholder="Item Expiry Date">
            <input type="submit" value="Edit">
        </form>
        <a href="/donor/donation/deleteItemUpdate/<%=index%>/<%=donation._id%>">Delete</a>
        <%})%>
</body>

</html>